button {
  margin-top: 142px;
  margin-left: 14px;
  margin-right: 14px;
  width: 74px;
  border: 2px black solid;
  border-radius: 5px;
  background: white;
  font-size: 15px;
  font-family: 'Droid Sans', sans-serif;
}

button#start-stop.start {
  background: #98FFB6;
}

button#start-stop.start:hover {
  background: #BFFFD5;
}

button#start-stop.stop {
  background: #FFAEA6;
}

button#start-stop.stop:hover {
  background: #FFC9C5;
}

button#reset {
  background: #FFDD89;
}

button#reset:hover {
  background: #FFE9A9;
}

button#reset.disabled {
  background: #AAA;
}