body {
  background: #ccc;
}

#container {
  position: relative;
  margin: 100px auto 0 auto;
  text-align: center;
  width: 326px;
  height: 210px;
  padding: 10px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  z-index: 1;
}

h1 {
  margin: 0;
  font-family: 'Droid Serif', serif;
}

h2 {
  font-size: 16px;
  font-family: 'Droid Sans', sans-serif;
  margin-top: 12px 0;
}

.timer-section {
  position: absolute;
  margin-top: 5px;
  width: 147px;
  height: 130px;
}

#client-side {
  left: 12px;
}

#server-side {
  right: 12px;
}

.display {
  height: 70px;
  width: 143px;
  position: absolute;
  border: 2px black solid;
  border-radius: 5px;
  background: white;
}

#client-side .display {
  left: 0;
}

h2 {
  margin: 5 auto;
}

#server-side .display {
  right: 0;
}

.counter {
  position: absolute;
  right: 10px;
  top: 12px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 40px;
}

#info {
  position: relative;
  margin: 50px auto 0 auto;
  width: 37px;
  height: 27px;
  text-align: justify;
  background: rgb(255, 255, 255);
  background: rgba(255, 255,255, .5);
  z-index: 1;
  border-radius: 10px;
  line-height: 30px;
  overflow: auto;
  padding-bottom: 10px;
}

#info i {
  position: absolute;
  left: 9px;
  top: 12px;
}

#info i:hover {
  color: #aaa;
}

#about {
  position: absolute;
  top: -4px;
  left: 37px;
  margin-right: 15px;
  display: none;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}